[submodule "modules/CommonBase"]
	path = modules/CommonBase
	url = https://github.com/GreenCodeStudio/GreenCodeFramework-CommonBase
[submodule "modules/User"]
	path = modules/User
	url = https://github.com/GreenCodeStudio/GreenCodeFramework-User.git
[submodule "modules/Authorization"]
	path = modules/Authorization
	url = https://github.com/GreenCodeStudio/GreenCodeFramework-Authorization.git
[submodule "modules/Search"]
	path = modules/Search
	url = https://github.com/GreenCodeStudio/GreenCodeFramework-Search.git
[submodule "modules/Notifications"]
	path = modules/Notifications
	url = https://github.com/GreenCodeStudio/GreenCodeFramework-Notifications.git
